<ion-header>
  <ion-toolbar>
    <ion-title>
      Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-text id="open-modal">{{ !value ? 'Choose date' : value | date }}</ion-text>
  </ion-item>

  <!-- Inline modal -->
  <ion-popover trigger="open-modal" show-backdrop="false" side="right" id="popover-bottom">
    <ng-template>
      <ion-content>
        <ion-datetime
          #datetime
          size="cover"
          presentation="date"
          [max]="maxDate"
          showClearButton="true"
          showDefaultButtons="true"
          (ionChange)="onDatetimeChange($event)"
          [(ngModel)]="value"
        ></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-datetime-button datetimePresentation="date" datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime" showClearButton="true" showDefaultButtons="true" [(ngModel)]="value"></ion-datetime>
    </ng-template>
  </ion-modal>

</ion-content>
